# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import sys
#jupyter nbextension enable --py gmaps was enabled in git bash

# Import API key
#from api_keys import g_key
api_key = "AIzaSyBgzZ_6FFoW6kCN_s-9OFyL1nJvtnDj_RQ"
gmaps.configure(api_key=api_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
#API_Weather_Data.csv
file = '../WeatherPy/API_Weather_Data.csv'
api_weather_df = pd.read_csv(file, encoding="ISO-8859-1")
api_weather_df.head()

,Unnamed: 0,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,conde,-7.2597,-34.9075,295.85,100,20,2.06,BR,1627435014
1,1,henties bay,-22.1160,14.2845,286.96,84,0,1.30,NaN,1627435015
2,2,punta arenas,-53.1500,-70.9167,280.21,81,75,10.29,CL,1627435017
3,3,westport,41.1415,-73.3579,300.14,74,75,0.45,US,1627434857
4,4,george,-33.9630,22.4617,284.90,82,90,3.60,ZA,1627435019

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
locations = api_weather_df[['Lat','Long']]
#print(locations)
humidity = api_weather_df['Humidity']
#print(humidity)

In [9]:
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
#A max temperature lower than 80 degrees but higher than 70. Wind speed less than 10 mph. Zero cloudiness.
max_wind_speed = 10
wind_speed_df = api_weather_df.loc[api_weather_df['Wind Speed'] < 10]
#wind_speed_df
temp_df = wind_speed_df.loc[wind_speed_df['Max Temp'] < 299.817]
#temp_df
# max_temp = 80
# max_cloudiness = 0
cloudiness_df = temp_df.loc[temp_df['Cloudiness'] == 0]
#cloudiness_df
final_filtered_df = cloudiness_df.loc[cloudiness_df['Humidity'] < 70]
final_filtered_df.head()
# max_humidity = 70

,Unnamed: 0,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
11,11,port macquarie,-31.4333,152.9167,295.31,38,0,4.42,AU,1627435018
30,30,atuona,-9.8000,-139.0333,298.85,65,0,7.41,PF,1627435056
32,32,boueni,-12.9025,45.0761,297.14,65,0,6.68,YT,1627435059

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [23]:
#hotel_list = []
# lat = 33.931264
# long = -84.502118
# columns_list = ["City","Lat","Long", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Country" ,"Date"]
# final_filtered_df['Hotel Name'] = hotel_list
# hotel_df = final_filtered_df
# hotel_df.head()
places_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
radius = 5000
query_type = "lodging"
#rank_by = "distance"

for i,row in final_filtered_df.iterrows():
    lat = row["Lat"]
    long = row["Long"]
    query_url = f'{places_url}location={lat},{long}&radius={radius}&type={query_type}&key={api_key}'
    print(query_url)
    try:
        response = requests.get(query_url).json()
#         print(response)
    
    except:
        print(f'{sys.exc_info()[0]}')

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-31.4333,152.9167&radius=5000&type=lodging&key=AIzaSyBgzZ_6FFoW6kCN_s-9OFyL1nJvtnDj_RQ
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-9.8,-139.0333&radius=5000&type=lodging&key=AIzaSyBgzZ_6FFoW6kCN_s-9OFyL1nJvtnDj_RQ
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-12.9025,45.0761&radius=5000&type=lodging&key=AIzaSyBgzZ_6FFoW6kCN_s-9OFyL1nJvtnDj_RQ

In [ ]:
?location=-33.8670522,151.1957362&radius=1500&type=restaurant

In [80]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map


# Display figure